.navbar {
	// height: 6rem;
	@include max-width;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem;
	color: $mono2;
	position: relative;

	&__logo {
		a {
			@include heading-1;
			color: $mono2;
		}
		position: relative;
		z-index: 200;

		&.active {
			a {
				color: $crimson;
			}
		}
	}

	&__list {
		@include flex-center-row;

		li {
			@include paragraph;
			margin-right: 4rem;

			a {
				color: $mono2;
				font-weight: 600;
				letter-spacing: 0.15rem;
			}
		}

		//query
		@include md {
			position: absolute;
			z-index: 90;
			height: 100vh;
			width: 100%;
			background: $mono6;
			top: 0;
			right: 0;
			left: 0;
			@include flex-center-column-end;
			transform: translateY(-100vh);
			transition: transform 0.3s ease-in-out;

			&.active {
				@include flex-center-column-end;
				transform: translateY(0);
				transition: transform 0.5s ease-in-out;

				li {
					margin-bottom: 2rem;
					margin-right: 6rem;

					a {
						color: $mono2;
						@include heading-3;
						font-size: 3rem;

						&:hover {
							color: lighten($mono2, 20);
						}
					}

					&:nth-child(1) {
						animation: bounce-in-right 1.1s
							cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.4s both;
					}
					&:nth-child(2) {
						animation: bounce-in-right 1.1s
							cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.5s both;
					}
					&:nth-child(3) {
						animation: bounce-in-right 1.1s
							cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.6s both;
					}
					&:nth-child(4) {
						animation: bounce-in-right 1.1s
							cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.7s both;
					}
				}

				svg {
					color: $crimson;
					font-size: 2.4rem;
					margin-right: 1rem;
				}
			}
		}
	}

	&__burger {
		display: none;

		@include md {
			position: relative;
			z-index: 100;
			display: block;
			cursor: pointer;
			font-size: 3rem;
			color: $mono2;
		}
		&.active {
			color: $crimson;
		}
	}
}
