.design__and__development {
	width: 100%;
	position: relative;
	// padding: 10rem 0;

	.process__container {
		min-height: 60vh;
		width: 100%;
		@include max-width;
		margin-bottom: 14rem;
		position: relative;
		z-index: 10;
		// padding: 0 2rem;
		@include md {
			padding: 0 2rem;
			margin-bottom: 10rem;
		}
		@include lg {
			padding: 0 2rem;
			// margin-bottom: 30rem;
		}
		@include xl {
			padding: 0 2rem;
		}

		&__title {
			width: 100%;
			margin-bottom: 6rem;

			h1 {
				@include heading-1;
				color: $mono1;
				@include md {
					font-size: 3.5rem;
				}
			}
			p {
				@include paragraph;
				color: $mono3;
				max-width: 70%;

				@include md {
					max-width: 100%;
				}
			}
		}

		&__grid__container {
			padding: 0 2rem;
			display: grid;
			grid-row-gap: 10rem;
			grid-column-gap: 6rem;
			grid-template-columns: repeat(3, 1fr);

			@include md {
				grid-template-columns: 1fr;
				grid-row-gap: 10rem;
				padding: 5rem 0;
			}
		}

		&__grid__item {
			display: flex;
			position: relative;
			z-index: 10;

			&:nth-of-type(1)::before {
				content: '1';
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: 16rem;
				z-index: 0;
				color: rgba($mono2, 0.1);
			}
			&:nth-of-type(2)::before {
				content: '2';
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: 16rem;
				z-index: 0;
				color: rgba($mono2, 0.1);
			}
			&:nth-of-type(3)::before {
				content: '3';
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: 16rem;
				z-index: 0;
				color: rgba($mono2, 0.1);
			}
			&:nth-of-type(4)::before {
				content: '4';
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: 16rem;
				z-index: 0;
				color: rgba($mono2, 0.1);
			}
			&:nth-of-type(5)::before {
				content: '5';
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: 16rem;
				z-index: 0;
				color: rgba($mono2, 0.1);
			}
			&:nth-of-type(6)::before {
				content: '6';
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: 16rem;
				z-index: 0;
				color: rgba($mono2, 0.1);
			}
		}
		.grid__item__icon {
			svg {
				height: 6rem;
				width: 6rem;
				padding-right: 1rem;
				color: rgba($cyan, 0.8);
			}
		}

		.grid__item__text {
			h3 {
				@include heading-3;
				color: $mono1;
				margin-bottom: 1rem;
			}
			p {
				@include paragraph;

				color: $mono3;
			}
		}
	}

	.page__banner {
		@include flex-center-row;
		box-shadow: $box-sh3;
		width: 100%;
		background: $mono7;
		margin: 0 0 14rem 0;

		@include md {
			padding: 0 2rem;
		}
		img {
			-webkit-filter: drop-shadow(0.4rem 0.4rem 0.3rem rgba($mono4, 0.7));
			filter: drop-shadow(0.4rem 0.4rem 0.3rem rgba($mono4, 0.7));
		}
	}
	.faqs__container {
		min-height: 100%;
		@include max-width;
		position: relative;
		z-index: 10;
		padding: 5rem;
		margin-bottom: 14rem;
		@include md {
			padding: 0 1rem;
		}
		@include lg {
			padding: 0 2rem;
		}
		@include xl {
			padding: 0 2rem;
		}
		&__title {
			margin-bottom: 6rem;
			// display: inline-block;

			h1 {
				display: flex;
				align-items: center;
				// letter-spacing: 0.14rem;
				@include heading-1;
				color: $mono1;

				@include lg {
					font-size: 2.5rem;
					padding: 4rem 0 0 0;
				}

				svg {
					margin-right: 2rem;
					color: $off-blue;
				}
			}
		}

		&__grid {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-column-gap: 4rem;
			grid-row-gap: 3rem;

			@include md {
				grid-template-columns: 1fr;
			}
		}

		&__grid__item {
			margin-bottom: 3rem;

			h3 {
				@include heading-3;
				color: $mono1;
				margin-bottom: 1rem;
			}
			p {
				@include paragraph;
			}
		}
	}
}
