.homepage {
	@include max-width;
	height: auto;
	min-height: 100vh;
	width: 100%;

	.main__section {
		min-height: 100vh;
		&__wrapper {
			height: 100vh;
			width: 100%;
			display: flex;
			@include md {
				flex-direction: column;
			}
			.container {
				width: 100%;
				height: 100%;
				@include flex-center-column;

				&__left {
					background: $mono8;
					color: $mono2;
				}
				&__right {
					background: $mono2;
					color: $mono8;
				}
			}
		}
	}
}
