.portfolio {
	height: 100vh;
	width: 100%;
	// background: rgb(180, 180, 78);

	&__wrapper {
		height: 100%;
		// background: red;
	}

	&__banner {
		height: 35rem;
		color: $mono2;
		background: $mono8;
		box-shadow: $box-sh3;
		@include flex-center-column;
		@include lg {
			height: 45rem;
		}

		.banner__info {
			@include max-width;
			display: flex;
			align-items: center;
			justify-content: center;

			@include lg {
				flex-direction: column;
			}

			h1 {
				@include heading-1;
				font-size: 7.5rem;
				margin-right: 5rem;
				color: $mono1;

				@include lg {
					font-size: 6.5rem;
					padding-top: 5rem;
					margin-right: 0;
				}
			}

			img {
				// padding-right: 2rem;
				-webkit-filter: drop-shadow(0.4rem 0.4rem 0.3rem rgba($mono4, 0.3));
				filter: drop-shadow(0.4rem 0.4rem 0.3rem rgba($mono4, 0.3));
			}
			vg {
				padding: 4rem;
			}
		}
	}
}
