.portfolio {
	width: 100%;
	position: relative;
	z-index: 10;

	&__wrapper {
		// height: 100%;
		// background: red;
	}

	&__banner {
		height: 35rem;
		// color: $mono2;
		background: $mono8;
		box-shadow: $box-sh3;
		@include flex-center-column;
		@include lg {
			height: 45rem;
		}

		.banner__info {
			@include max-width;
			display: flex;
			align-items: center;
			justify-content: center;

			@include lg {
				flex-direction: column;
			}

			h1 {
				@include heading-1;
				font-size: 7.5rem;
				margin-right: 5rem;
				color: $mono1;

				@include lg {
					font-size: 6.5rem;
					padding-top: 5rem;
					margin-right: 0;
				}
			}

			img {
				// padding-right: 2rem;
				-webkit-filter: drop-shadow(0.4rem 0.4rem 0.3rem rgba($mono4, 0.7));
				filter: drop-shadow(0.4rem 0.4rem 0.3rem rgba($mono4, 0.7));
			}
			vg {
				padding: 4rem;
			}
		}
	}

	&__container {
		min-height: 100vh;
		padding: 5rem 0 14rem 0;
		@include max-width;
		@include flex-center-column;
		// background: $mono7;
		gap: 8rem;

		.container__item {
			display: grid;
			grid-template-columns: 1fr 1fr;

			width: 100%;
			max-width: 80rem;
			box-shadow: $box-sh3;
			margin: 0;
			padding: 0;

			@include md {
				grid-template-columns: 1fr;
				align-items: center;
				justify-items: center;
				box-shadow: none;
			}

			&__left {
				background: $mono8;
				display: flex;
				align-items: flex-start;
				justify-content: center;
				flex-direction: column;
				padding: 5rem;

				@include md {
					margin: auto;
					align-items: center;
					min-width: 40rem;
				}

				.item__title {
					margin-bottom: 1rem;
					@include md {
						margin-bottom: 2rem;
					}
					h3 {
						@include heading-1;
						letter-spacing: 0.2rem;
						color: $mono1;

						@include lg {
							@include heading-2;
						}
					}
				}
				.item__desc {
					margin-bottom: 1rem;

					p {
						@include paragraph;
					}

					@include md {
						margin-bottom: 2rem;
					}
				}

				.item__stacks {
					display: flex;
					align-items: center;
					margin-bottom: 3rem;
					@include md {
						margin-bottom: 4rem;
					}
					span {
						@include span;
						margin-right: 2rem;
					}

					li {
						@include span;
						margin-right: 0.6rem;
						padding: 0.4rem 0.8rem;
						color: $mono5;
						background: $mono6;
					}
				}
			}
			&__right {
				// height: 100%;
				// width: 100%;
				margin-bottom: -0.3rem;
				padding: 0;
				img {
					width: 100%;
					height: 100%;
					margin: 0 auto;
					object-fit: cover;
				}
			}
		}
	}
}
