//0 resets
@import '0-resets/reset';

//1 helpers
@import '1-helpers/breakpoints';
@import '1-helpers/variables';
@import '1-helpers/keyframes';
@import '1-helpers/mixins';
@import '1-helpers/typography';

//2

//3 layout
@import '3-layout/footer';
@import '3-layout/header';
@import '3-layout/layout';

//5 pages
@import '5-pages/home';
