@keyframes bounce-in-right {
	0% {
		transform: translateX(600px);
		animation-timing-function: ease-in;
		opacity: 0;
	}
	38% {
		transform: translateX(0);
		animation-timing-function: ease-out;
		opacity: 1;
	}
	55% {
		transform: translateX(28px);
		animation-timing-function: ease-in;
	}
	// 81% {
	// 	transform: translateX(12px);
	// 	animation-timing-function: ease-in;
	// }
	90% {
		transform: translateX(0);
		animation-timing-function: ease-out;
	}

	100% {
		transform: translateX(0);
		animation-timing-function: ease-out;
	}
}
