// background no repeat and center/cover
@mixin bg-no-repeat {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

// flex row/colum center
@mixin flex-center-row() {
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin flex-center-column() {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
