// monocromatic color palette
$mono1: hsl(0, 0%, 0%);
$mono2: hsl(210, 10%, 23%);
$mono3: hsl(210, 9%, 31%);
$mono4: hsl(208, 7%, 46%);
$mono5: hsl(210, 11%, 71%);
$mono6: hsl(210, 14%, 83%);
$mono7: hsl(210, 14%, 89%);
$mono8: hsl(210, 16%, 93%);
$mono9: hsl(210, 17%, 98%);

$crimson: hsl(348, 95%, 50%);
$cyan: rgb(99, 248, 255);
// fonts
$main-f: 'Nunito', sans-serif;
$sec-f: 'Montagu Slab', serif;

//box-shadow
$box-sh3: 0.3rem 0.3rem 0.8rem rgba($mono4, 0.3);
$box-sh9: 0.3rem 0.3rem 0.8rem rgba($mono4, 0.9);
