$blue-100: hsl(239, 94%, 19%);
$blue-200: hsl(214, 97%, 27%);
$blue-300: hsl(201, 100%, 36%);
$blue-400: hsl(195, 100%, 39%);
$blue-500: hsl(190, 100%, 42%);
$blue-600: hsl(189, 75%, 75%);
$blue-700: hsl(190, 76%, 82%);
$blue-800: hsl(190, 77%, 88%);

//monocromatic
$mono-100: hsl(0, 0%, 0%);
$mono-200: hsl(210, 10%, 23%);
$mono-300: hsl(210, 9%, 31%);
$mono-400: hsl(208, 7%, 46%);
$mono-500: hsl(210, 11%, 71%);
$mono-600: hsl(210, 14%, 83%);
$mono-700: hsl(210, 14%, 89%);
$mono-800: hsl(210, 16%, 93%);
$mono-900: hsl(210, 17%, 98%);

//teal
$teal-100: hsl(178, 93%, 39%);
$teal-200: hsl(178, 58%, 52%);
$teal-300: hsl(179, 59%, 63%);
$teal-400: hsl(184, 72%, 77%);
$teal-500: hsl(174, 100%, 88%);

// reds
$red-100: hsl(350, 69%, 23%);
$red-200: hsl(350, 69%, 25%);
$red-300: hsl(350, 69%, 31%);
$red-400: hsl(350, 69%, 37%);
$red-500: hsl(350, 70%, 39%);
$red-600: hsl(351, 72%, 43%);
$red-700: hsl(351, 73%, 45%);
$red-800: hsl(352, 76%, 49%);
$red-900: hsl(352, 76%, 50%);

//font
// $main-font: ;
// $display-font: ;

$box-shadow: 0.3rem 0.3rem 0.8rem rgba($mono-400, 0.3);
$box-shadow-dark: 0.3rem 0.3rem 0.8rem rgba($mono-400, 0.9);
